/*  File name: style.css
    Student name: LAM Chung Hin
    Student ID: 301231762
    Date: Sep 28, 2021
*/

img.logo  {
    width: 40px; height: 40px;
}

div.container {
    padding-top: 15px;
}

.card {
    display: inline-block !important; 
    width: 280px;
    padding-bottom: 10px;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    border-radius: 10px 10px 10px 10px;
    
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
}

#formContent .form-group {
    padding-bottom: 2vh;
}