<nav class="navbar fixed-bottom navbar-light bg-light">
  <p class="mx-3 h6">Suggested 1920 x 1080 as monitor resolution for better viewing experience.</p>
  <p class="mx-3 h6">&copy; Copyright 2021. All right reserved.</p>
</nav>