    <nav class="navbar fixed-bottom navbar-light bg-light">
      <small class="mx-3">Suggested 1920 x 1080 as monitor resolution for better viewing experience.</small>
      <small class="mx-3">&copy; Copyright 2021. All right reserved.</small>
    </nav>

    <!-- Embed js files -->
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>