<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!-- Embed css files -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/@fortawesome/fontawesome-free/css/all.min.css">
  </head>
  <body>
    <!-- Include the header partial view for the Navigation Bar -->
    <%- include('partials/header.ejs') %>

    <!-- Main Content -->
    <main>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <!-- My Personal Contact Information -->
              <h1 class="display-4">Contact</h1>
              <p class="lead">
                Please find my personal information here and feel free to contact me via the form below.
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><i class="far fa-lg fa-envelope"></i> <a href="mailto:vincent20lam@gmail.com">vincent20lam@gmail.com</a></li>
                  <li class="list-group-item"><i class="fas fa-lg fa-phone"></i> (647) 474-5092</li>
                  <li class="list-group-item"><i class="fab fa-lg fa-linkedin"></i> <a target="_blank" href="https://www.linkedin.com/in/vincent-lam-52b244147">https://www.linkedin.com/in/vincent-lam-52b244147</a></li>
                  <li class="list-group-item"><i class="fab fa-lg fa-github"></i> <a target="_blank" href="https://github.com/ChunghinLam">https://github.com/ChunghinLam</a></li>
                </ul>

                <!-- The Contact Form-->
                <form class="mt-3">
                  <div class="row py-2">
                    <div class="form-group col-md-4">
                      <label for="inputLastname">Last Name</label>
                      <input type="text" class="form-control" id="inputLastname" placeholder="Last Name">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputFirstname">First Name</label>
                      <input type="text" class="form-control" id="inputFirstname" placeholder="First Name">
                    </div>
                  </div>
                  <div class="row py-2">
                    <div class="form-group col-md-4">
                      <label for="inputContactNumber">Contact Number</label>
                      <input type="text" class="form-control" id="inputContactNumber" placeholder="Contact Number">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputEmail4">Email</label>
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                  </div>
                  <div class="row py-2">
                    <div class="form-group col-md-12">
                      <label for="inputMessage">Message</label>
                      <input type="text" class="form-control" placeholder="Message">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Include the header partial view for the Navigation Bar -->
    <%- include('partials/footer.ejs') %>

    <!-- Embed js files -->
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>