
<!-- Include the header partial view for the Navigation Bar -->
<%- include('partials/header.ejs') %>

<!-- Include the nav partial view for the Navigation Bar -->
<%- include('partials/nav.ejs') %>

<!-- Main Content -->
<main>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Mission Statement</h1>
      <p class="lead">Welcome to my page. Solid experience as a full stack developer in both front & back-end in software development for over 7 years, involving diverse scale of tailored projects for the whole SDLC process. Combining innovative ideas to programming to meet the ever-changing business requirements.
      </p>
    </div>
  </div>
</main>

<!-- Include the footer partial view for the Navigation Bar -->
<%- include('partials/footer.ejs') %>